* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #082032;
  font-family:Xyz;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family:Xyz;
  src: url(font/AttackGraffiti-ZVJPZ.otf);
  
}

h1 {
  font-family:Xyz;
  font-size: 500%;
  letter-spacing: .4rem;
  color:#E1D197;
}
#splash {
  font-family:Xyz;
  letter-spacing: .4rem;
  font-size: 1000%;
  color:#A58031;
}

#header {
  font-size: 60px;
  letter-spacing: .4rem;
  color:#E1D197;
}

#number {
  display: flex;
  align-items: center;
  height: 20%;
  
  
}

#numDisplay {
  font-size: 30px;
  letter-spacing: .4rem;
  color:#E1D197;
}

#keyDisplay {
  font-size: 30px;
  letter-spacing: .4rem;
  color: #D0D1D1;
}
#codeDisplay {
  font-size: 30px;
  letter-spacing: .4rem;
  color: #D0D1D1;
}
#whichDisplay {
  font-size: 40px;
  letter-spacing: .4rem;
  color: #D0D1D1;
}
#locateDisplay {
  font-size: 40px;
  letter-spacing: .4rem;
  color: #D0D1D1;
}


#container {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#code,
#key,
#which,
#locate {
  flex-basis: 1;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#codeDisplay,
#keyDisplay,
#whichDisplay
#locateDisplay{
  margin-bottom: 10px;
}

#desc {
  font-size: 40px;
  letter-spacing: .4rem;
  color:#A58031;
}

.pressedBtn {
  font-size: 50px;
  color: #D0D1D1;
}